.projects {
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.projects h1 {
    margin-top: 20px;
    font-size: 40px;
}

.imageContainer {
    position: relative;
    width: 50%;
}
.hoverImage {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #B2DDF5;
  opacity: .8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.imageContainer:hover .overlay {
    height: 100%;
}
.hoverTextLeft {
    white-space: nowrap; 
    color: darkblue;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}
.hoverTextRight {
    white-space: nowrap; 
    color: darkblue;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}
.hoverTextTop {
    white-space: nowrap; 
    color: darkblue;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}
.hoverTextList {
    white-space: nowrap; 
    color: darkblue;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}
