.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #fafafa;
}
.skillswrapper {
    width: 100vw;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0 auto;
    font-weight: bolder;
}
@media only screen and (min-width: 700px) {.skillsGrid {
    width: 85vw;
    height: 600px;
    display: grid;
    align-self: center;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
}
@media only screen and (max-width: 700px) {.skillsGrid {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}}
.skillsGrid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    height: 125px;
    width: 125px;
}
.react {
    fill: #61DAFB;
}

