.aboutSection {
    height: 600px;
}
.picandText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picandText img {
    border-radius: 50%;
    margin-top: 50px;
}
.picandText p {
    margin-top: 20px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.aboutInfo {
    margin-top: -100px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutInfo i {
    color: #B2DDF5;
}
.aboutInfo button {
    background-color: #B2DDF5;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    padding: 0;
    border: none;
    cursor: pointer;
}
