.headerWrapper {
    margin: 0 auto;
    position: fixed;
    background: #B2DDF5;
    height: 75px;
    width: 100vw;
    z-index: 45;
    color: white;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}
.headerWrapper h1 {
    flex: 1;
    width: 65%;
    margin-left: 8%;
}
.headerWrapper div {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerWrapper p {
    font-size: 20px;
}
@media only screen and (max-width: 700px) { .ham 
    {
        visibility: visible;
        margin: 0 auto;
        position: fixed;
        background: #B2DDF5;
        height: 75px;
        width: 100vw;
        z-index: 45;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerWrapper {
        visibility: hidden;
    }

}
@media only screen and (min-width: 700px) {
    .headerWrapper {
        visibility: visible;
    }
    .ham {
        visibility: hidden;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B2DDF5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.ham h1 {
    flex: 1;
    width: 65%;
    margin-left: 8%;
}
.ham img {
    margin-right: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 700px) { .hamMenu {
    visibility: visible;
    position: relative;
}
}


@media only screen and (min-width: 700px) {
    .hamMenu {
        visibility: hidden;
    }
}