.jumbotronBackground {
    background: url('../../Images/andy-wang-75947.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 500px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.typing {
    font-size: 45px;
    color: white;
    }